.t_0001{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.proj_l_tab{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
   
    padding: 4px 12px;
    border-radius: 50px;
}
.react_tag{
    background-color: var(--blue-3b);
    backdrop-filter: blue
    var(--project_tab_blur);
}
.html_tag{
    background-color: var(--orange-f799);
    backdrop-filter: blue
    var(--project_tab_blur);
}

.css_tag{
    background-color: var(--blue-3b6d);
    backdrop-filter: blue
    var(--project_tab_blur);
}
.js_tag{
    background-color: var(--yellow-ffe13);
    backdrop-filter: blue
    var(--project_tab_blur);
    color: black;
}
.ts_tag{
    background-color:var(--blue-37b2) ;
    backdrop-filter: blue
    var(--project_tab_blur);
}
.py_tag{
    background-color:var(--blue-3b56) ;
    backdrop-filter: blue
    var(--project_tab_blur);
}