@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root{
  /* --lightBLue : #38518f; */
  --lightBLue : #4158D0;
  --blue-3b : #3ba0ed98;
  --blue-3b6d : #3b6dedc9;
  --blue-37b2:#37b2ffc9;
  --blue-3b56 : #3b56edc9;
  --light_sky_blue : rgb(25, 112, 194);
  --orange-f799: #f79037da;
  --yellow-ffe13 : #ffe136e8;
  --project_tab_blur: 10px;
  --project_window_bg:rgba(26, 26, 31, 0.801);
  --dark-gray-black:rgba(0, 0, 0, 0.277);
  --dark_g_l_black_rgb:#242424;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background-color: rgb(15, 15, 15);
  color: white;
}
.dark{
  /* background-color: rgb(25, 22, 22); */
  color: white;
  width: 100%;
  height: 100vh;
}
.white{
  background-color: white;
  color: black;
  width: 100%;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: block;
}


body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--lightBLue);
}

body::-webkit-scrollbar-thumb {
  background: var(--lightBLue);
  border-radius: 5px; 
}

body::-webkit-scrollbar-thumb:hover {
  background: #38518f9b;
}

