.projectMContainer {
  background-color:rgb(39, 39, 48);
  padding: 10px;
}

.proHeader {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 30px;
}

.left_p_m {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.left_p_m p {
  background-color: var(--lightBLue);
  padding: 6px 22px 10px;
  text-transform: capitalize;
}
.left_p_m input {
  padding: 6px;
  color: rgb(255, 255, 255);
  background-color: var(--lightBLue);
}

.right_p_m button {
    background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  padding: 6px 22px 10px;
  text-transform: capitalize;
}


.pro_gridBar{
    display: flex;
    align-items: center;
    padding: 8px;
    background-color:#35458612;
}

.p_l_bar{
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    font-size: 13px;
}
.g_icon{
    display: flex;
    align-items: center;
    gap: 3px;
}

.proListing{
    padding: 10px;
    margin-top: 20px;
}
.listMode{
    /* background-color: crimson; */
    padding: 20px;
    margin-top: 20px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.projectCart{
    background-color: rgb(25, 22, 22);
    width: 400px;
    height:300px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    box-shadow: rgba(189, 189, 189, 0.342) 0px 1px 3px, rgba(165, 165, 165, 0.24) 0px 1px 2px;
}
.pro_img{
    background-color: white;
    width: 100%;
    height: 70%;

}
.p_nfo{
    /* background-color: palevioletred; */
    width: 100%;
    height: 30%;
    margin-top: 3px;
    padding: 4px;
}

.ingo01{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ingo01 p{
    font-size: 25px;
    font-weight: bold;
}

.ingo01 button{
    text-transform: uppercase;
    color: rgb(175, 189, 255);
}

.tableMode{
    /* background-color: crimson; */
    padding: 10px;
    margin-top: 20px;

}
.tableMode table{
    /* background-color: purple; */
    padding: 10px;
    width: 100%;
}
.t-tr{

    padding: 10px;
    text-align: center;
}
.t-t-t-tr
{
    text-align: center;

}
@media screen and (max-width:900px) {
    .projectCart{
        background-color: rgb(25, 22, 22);
        width: 100%;
        height:300px;
        border-radius: 10px;
        overflow: hidden;
        padding: 10px;
        box-shadow: rgba(189, 189, 189, 0.342) 0px 1px 3px, rgba(165, 165, 165, 0.24) 0px 1px 2px;
    }
}