.bannerHeading h2 {
  font-size: 60px;
  font-weight: 455;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  animation: textAnime 10s linear infinite;
  transition: 2s;
}

@keyframes textAnime {
  0% {
    background: -webkit-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 2s;
  }
  50% {
    background: -webkit-linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 2s;
    margin-left: 60px;
  }
  100% {
     background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     transition: 2s;
     margin-left: 100px;
  }
}

.homePageContainer{

    max-width: 1800px;
    height: 100%;
}
.BannerHeroContainer{
    margin-top: 22px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 5px;
}

.tryNow{
   margin-top: 10px;
} 
 .demoBtnLink{
    padding: 10px 20px 15px;
    border-radius: 6px;
    text-transform: capitalize;
    font-weight: 500;
    background: -webkit-linear-gradient(43deg, #364dbd 0%, #ac3ea4 46%, #e1b35c 100%);

    font-size: 17px;

 }
 .m_pro_link{
   
    text-transform: capitalize;
    font-weight: 500;
    background: -webkit-linear-gradient(43deg, #5069e5 0%, #e065d8 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 17px;
    border: 1px  linear-gradient(43deg, #5069e5 0%, #e065d8 46%, #FFCC70 100%);
   
 }
 .g_l_b_btn{
    position: relative;
    padding: 10px 20px 15px;
    border-radius: 6px;
    width: 159.38px;
    height: 50.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: op 5s linear infinite;
    transition: 3s;
 }
 .btncover{
    border-radius: 6px;
    margin: auto;
    position: absolute;
    top: 1%;
    width: 99%;
    height: 97%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

 }

 @keyframes op {
    0%{
        background: -webkit-linear-gradient(43deg, #5069e5 0%, #e065d8 46%, #FFCC70 100%);
        transition: 3s;
    }

    80%{
        background:transparent;
        transition: 3s;
    }
    100%{
        background: -webkit-linear-gradient(43deg, #5069e5 0%, #e065d8 46%, #FFCC70 100%);
        transition: 3s;
    }
 }